
.cardDeck{
    position: relative;
    display: flex;
    flex-wrap: wrap;

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 24px;
}

.card{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 5px;
    will-change: transform;
}

.cardFront, .cardBack {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;

    border: solid black 1px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.cardFront {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow: hidden;

    background-color: white;
    transform: rotateY(0deg);
}

.cardBack {
    transform: rotateY(180deg);
    background: white url('../img/Gonzo.jpg') center center no-repeat;
    background-size:cover;
}

.card.flipped .cardFace {
    transform: rotateY(180deg);
    transition: all 1s;
}

.card .cardFace {
    transition: all 1s;
}


.card.flipped .cardFront {
    transform: rotateY(180deg);
}

.card.flipped .cardBack {
    transform: rotateY(0deg);
}

.card.winner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    z-index : 100;
    transform: scale(2);
    transition : 1s;
}

.card.winner .cardBack {
    background: white url('../img/Winner.gif') no-repeat center;
    background-size:cover;
}